In [12]:
import pandas as pd

#1 Setup and load data
df = pd.read_csv("/sales_with_nans.csv")

df.head()

,Group,Customer_Segment,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After,Purchase_Made
0,Control,High Value,240.548359,300.007568,74.684767,NaN,No
1,Treatment,High Value,246.862114,381.337555,100.000000,100.000000,Yes
2,Control,High Value,156.978084,179.330464,98.780735,100.000000,No
3,Control,Medium Value,192.126708,229.278031,49.333766,39.811841,Yes
4,NaN,High Value,229.685623,NaN,83.974852,87.738591,Yes

In [11]:
#df = df.dropna()
#df["Customer_Satisfaction_After_Filled"] = df["Customer_Satisfaction_After"].fillna(50)
#df["Sales_After_Filled"] = df["Sales_After"].fillna(df["Sales_After"].mean())
#print(df)

          Group Customer_Segment  Sales_Before  Sales_After  \
0       Control       High Value    240.548359   300.007568
1     Treatment       High Value    246.862114   381.337555
2       Control       High Value    156.978084   179.330464
3       Control     Medium Value    192.126708   229.278031
4           NaN       High Value    229.685623          NaN
...         ...              ...           ...          ...
9995  Treatment              NaN    259.695935   415.181694
9996    Control       High Value    186.488285   216.225457
9997  Treatment        Low Value    208.107142   322.893351
9998  Treatment     Medium Value           NaN   431.974901
9999    Control        Low Value           NaN   124.402398

      Customer_Satisfaction_Before  Customer_Satisfaction_After Purchase_Made  \
0                        74.684767                          NaN            No
1                       100.000000                   100.000000           Yes
2                        98.780735                   100.000000            No
3                        49.333766                    39.811841           Yes
4                        83.974852                    87.738591           Yes
...                            ...                          ...           ...
9995                     88.438776                    98.418593           NaN
9996                     92.261537                   100.000000           NaN
9997                     55.915870                          NaN            No
9998                     66.082462                    81.274030            No
9999                     55.692277                    65.288480           Yes

      Customer_Satisfaction_After_Filled  Sales_After_Filled
0                              50.000000          300.007568
1                             100.000000          381.337555
2                             100.000000          179.330464
3                              39.811841          229.278031
4                              87.738591          280.457952
...                                  ...                 ...
9995                           98.418593          415.181694
9996                          100.000000          216.225457
9997                           50.000000          322.893351
9998                           81.274030          431.974901
9999                           65.288480          124.402398

[10000 rows x 9 columns]

In [15]:
#2 basic stats

total_sales_before = df["Sales_Before"].sum()
print(total_sales_before)
total_sales_after = df["Sales_After"].sum()
print(total_sales_after)

1727112.7109819734
2589468.2727230373

In [17]:
mean_sales_before = df["Sales_Before"].mean()
print(mean_sales_before)
mean_sales_after = df["Sales_After"].mean()
print(mean_sales_after)

203.71699822858852
280.45795220654577

In [19]:
mean_satisfaction_before = df["Customer_Satisfaction_Before"].mean()
print(mean_satisfaction_before)
mean_satisfaction_after = df["Customer_Satisfaction_After"].mean()
print(mean_satisfaction_after)

70.25207641696215
73.87259310735006

In [20]:
min_sales_before = df["Sales_Before"].min()
print(min_sales_before)
max_sales_before = df["Sales_Before"].max()
print(max_sales_before)
min_sales_after = df["Sales_After"].min()
print(min_sales_after)
max_sales_after = df["Sales_After"].max()
print(max_sales_after)

24.85296575372195
545.4225471380589
32.414352282538246
818.2199974644652

In [22]:
mean_sales_change = mean_sales_after - mean_sales_before
print(mean_sales_change)
mean_satisfaction_change = mean_satisfaction_after - mean_satisfaction_before
print(mean_satisfaction_change)

76.74095397795725
3.620516690387902

In [30]:
#3 filtering and subsets
print(df[df["Sales_After"] > mean_sales_after])
print(df[(df["Customer_Satisfaction_After"]) >= 4 & (df["Sales_After"] > 100)])
df = df.dropna()
df["Customer_Satisfaction_After"].fillna(df["Sales_After"].mean())
df["Purchase_Made"].fillna("Unknown")

          Group Customer_Segment  Sales_Before  Sales_After  \
1     Treatment       High Value    246.862114   381.337555
9     Treatment       High Value    235.071493   352.756872
24    Treatment        Low Value    193.365152   293.183812
25    Treatment     Medium Value    199.897483   317.388436
27    Treatment        Low Value    213.222288   341.428156
...         ...              ...           ...          ...
9971  Treatment       High Value    260.427454   396.690383
9983    Control       High Value    277.432532   324.187457
9984  Treatment       High Value    234.970184   360.308311
9985  Treatment        Low Value    190.882210   300.525743
9992  Treatment     Medium Value    209.913990   320.791145

      Customer_Satisfaction_Before  Customer_Satisfaction_After Purchase_Made  \
1                       100.000000                   100.000000           Yes
9                        72.919851                    70.753225            No
24                       57.827084                    62.875848            No
25                       74.927188                    75.328674            No
27                       45.399793                    46.476301            No
...                            ...                          ...           ...
9971                     77.171031                    81.778631           Yes
9983                     85.397880                    85.598238           Yes
9984                    100.000000                    89.778035           Yes
9985                     51.074736                    56.101875           Yes
9992                     81.851752                    83.163704           Yes

      Customer_Satisfaction_After_Filled
1                             100.000000
9                              70.753225
24                             62.875848
25                             75.328674
27                             46.476301
...                                  ...
9971                           81.778631
9983                           85.598238
9984                           89.778035
9985                           56.101875
9992                           83.163704

[1608 rows x 8 columns]
          Group Customer_Segment  Sales_Before  Sales_After  \
1     Treatment       High Value    246.862114   381.337555
2       Control       High Value    156.978084   179.330464
3       Control     Medium Value    192.126708   229.278031
6       Control       High Value    191.713918   222.409356
9     Treatment       High Value    235.071493   352.756872
...         ...              ...           ...          ...
9984  Treatment       High Value    234.970184   360.308311
9985  Treatment        Low Value    190.882210   300.525743
9987  Treatment     Medium Value    164.011355   247.268535
9989    Control     Medium Value    109.386552   145.054224
9992  Treatment     Medium Value    209.913990   320.791145

      Customer_Satisfaction_Before  Customer_Satisfaction_After Purchase_Made  \
1                       100.000000                   100.000000           Yes
2                        98.780735                   100.000000            No
3                        49.333766                    39.811841           Yes
6                        89.967827                    85.120975           Yes
9                        72.919851                    70.753225            No
...                            ...                          ...           ...
9984                    100.000000                    89.778035           Yes
9985                     51.074736                    56.101875           Yes
9987                     64.118872                    75.671792           Yes
9989                     70.249026                    76.630699            No
9992                     81.851752                    83.163704           Yes

      Customer_Satisfaction_After_Filled
1                             100.000000
2                             100.000000
3                              39.811841
6                              85.120975
9                              70.753225
...                                  ...
9984                           89.778035
9985                           56.101875
9987                           75.671792
9989                           76.630699
9992                           83.163704

[3412 rows x 8 columns]

1       Yes
2        No
3       Yes
6       Yes
9        No
       ...
9984    Yes
9985    Yes
9987    Yes
9989     No
9992    Yes
Name: Purchase_Made, Length: 3412, dtype: object